$primary: rgb(15, 15, 15);
$secondary: brown;
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  font-size: 16px;
}
.header__section {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.header__navbar__logo img {
  height: 70px;
  width: 70px;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 8px;
}

.header__entries {
  display: flex;
  align-items: center;
}
.header__navbar__link__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__navbar__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0px 12px;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.header__navbar__link:hover {
  background-color: rgb(21, 22, 22);
  color: rgb(221, 215, 215);
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.header__navbar__cart__logo__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navbar__cart__logo {
  margin: 12px;
  cursor: pointer;
}
.header__menu {
  display: none;
  height: 50px;
  width: 50px;
}

.landing__main__banner {
  width: 100%;
}
.landing__main__banner__img {
  width: 100%;
  position: relative;
}
.landing__main__banner__img img {
  width: 100%;
  height: 500px;
  object-fit: inherit;
}
.landing__main__banner__img__text__wraper {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
}
.landing__main__banner__text__container {
  width: 600px;
  background-color: rgb(75, 74, 74);
  opacity: 0.9;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  margin: 1em;
}
.landing__main__banner__img__text__heading {
  font-size: 32px;
  font-weight: 700;
  color: white;
  padding: 0.5em;
}

.landing__main__banner__img__text__detail {
  font-size: 16px;
  color: white;
  text-align: center;
}

.landing__main__banner__img__text__btn__link {
  margin-top: 20px;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  margin: 12px 0px;
  color: black;
  background-color: rgb(230, 232, 233);
  padding: 8px 12px;
  transition: 0.3s ease-in-out;
}
.landing__main__banner__img__text__btn__link:hover {
  background-color: rgb(21, 22, 22);
  color: rgb(252, 252, 252);
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}
.card__main__container {
  position: relative;
}
.card__main__wraper {
  position: absolute;
  width: 100%;
  top: 90px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.card__main__wraper__img {
  background-color: rgb(71, 82, 82);
}
.not__found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 60px;
  font-weight: 900;
  height: 200px;
  padding: 0.5em;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 4em;
}
.product__container {
  width: 100%;
  background-image: url(../src/asstes/Vector.png);
  mask-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.product__container__header__text__wraper {
  text-align: center;
  margin-top: 3em;
}
.product__header__heading {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.4em;
}
.product__header__heading::before {
  position: absolute;
  content: "";
  top: 22px;
  background-color: black;
  height: 3px;
  width: 120px;
  border-radius: 12px;
  margin: 12px 0px;
}
.product__header__sub__heading {
  width: 100%;
  padding: 1em;
}
.product__imgs__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.product__wraper {
  position: relative;
  padding: 0.5em;
  margin: 20px;
}
.product__wraper__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wraper__img img {
  background-color: black;
  height: 220px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.product__wraper__text {
  width: 200px;
  position: absolute;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product__wraper__text__heading {
  font-size: 20px;
  font-weight: 700;
}
.product__wraper__sub__heading {
  font-size: 16px;
  text-align: center;
}
.product__see__more__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}
.product__see__more__btn__link {
  background-color: black;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 12px;
  color: white;
}
.showrom__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
}
.showrom__container__img {
  position: relative;
  width: 80%;
}
.showrom__container__img img {
  height: 450px;
  border-radius: 8px;
}
.showrom__container__content {
  width: 100%;
  max-width: 500px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: -25em;
}
.showrom__container__content__heading {
  font-size: 30px;
  font-weight: 700;
  padding: 12px;
}
.showrom__container__content__sub__heading {
  font-size: 16px;
  padding: 0px 12px;
}
.footer__container {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
  background-color: $primary;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: white;
  padding: 1em 2em;
  flex-wrap: wrap;
}
.footer__logo {
  width: 100%;
}
.footer__logo img {
  height: 70px;
}
.footer__container__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 300px;
}

.footer__row__heading {
  font-size: 28px;
  font-weight: 700;
  padding: 12px 0px;
}
.footer__row__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__row__contant {
  padding: 8px 0px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.products__details__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}
.delivery__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  flex-wrap: wrap;
}
.delivery__wraper__card {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-right: 1px solid #636161;
  padding: 1em;
}
.delivery__wraper__card:last-child {
  border-right: none;
}
.delivery__wraper__card__text__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px;
}
.delivery__wraper__card__text__sub__heading {
  font-size: 16px;
  color: #636161;
}
//-------------------------------------------------------------------
@media (max-width: 900px) {
  .showrom__container__img {
    width: none;
  }
  .showrom__container__content {
    margin-right: 0em;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__entries {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 337px;
    background-color: rgb(230, 232, 233);
    width: 300px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
  }
}
@media (max-width: 500px) {
  .landing__main__banner__img__text__heading {
    font-size: 20px;
  }
  .landing__main__banner__img__text__detail {
    font-size: 12px;
  }
  .landing__main__banner__img__text__btn__link {
    font-size: 12px;
  }
  .landing__main__banner__img__text__wraper {
    top: 15%;
  }
  .landing__main__banner__img img {
    height: 350px;
  }
}
@media (max-width: 650px) {
  .delivery__container {
    flex-direction: column;
  }
  .delivery__wraper__card {
    border-right: none;
  }
  .delivery__wraper__card__text__heading {
    font-size: 16px;
  }
  .delivery__wraper__card__text__sub__heading {
    font-size: 14px;
  }
  .delivery__wraper__card__img svg {
    height: 40px;
  }
}
